@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ffffff;
}

@theme {
  --color-bg: #0a0a0a;
  --color-surface: #161616;
  --color-primary: #f97316;
  /* Orange 500 */
  --color-text-secondary: #9ca3af;
  /* Gray 400 */
  --color-border-subtle: rgba(255, 255, 255, 0.05);

  --animate-spin-slow: spin 20s linear infinite;
  --animate-spin-reverse-slow: spin-reverse 15s linear infinite;

  @keyframes spin-reverse {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(-360deg);
    }
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
}

.glow-text {
  text-shadow: 0 0 20px rgba(249, 115, 22, 0.5);
  /* Glow Oranye */
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: #333333;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary);
}